body {
  background-color: black;
  color: white;
}

dfn {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: LawnGreen;
  white-space: pre-wrap; }

dfn:after {
  color: Khaki; }

dfn:hover:after {
  color: #AA0; }

dfn.full:after {
  content: attr(title); }

dfn:before {
  color: orange;
  content: attr(word); }

dfn.character {
  color: #FF0; }

dfn.character:after {
  color: #AA0; }

dfn.location {
  color: #8CF; }

dfn.location:after {
  color: #59B; }

dfn.person {
  color: #0F9; }

dfn.person:after {
  color: #0A5; }

dfn.character:hover:after {
  content: "〔" attr(reading) "〕" attr(ja) "〈" attr(tag) "〉"; }

dfn.character:hover:after[reading=""] {
  content: attr(ja) "〈" attr(tag) "〉"; }

dfn.location:hover:after {
  content: "〔" attr(reading) "〕" attr(ja) "〈" attr(tag) "〉"; }

dfn.location:hover:after[reading=""] {
  content: attr(ja) "〈" attr(tag) "〉"; }

dfn.person:hover:after {
  content: "〔" attr(reading) "〕" attr(ja) "〈" attr(tag) "〉"; }

dfn.person:hover:after[reading=""] {
  content: attr(ja) "〈" attr(tag) "〉"; }

#namae-writer dfn:after {
  content: "〔" attr(reading) "〕"; }

#namae-writer dfn:hover:after {
  content: " " attr(ja) "〈" attr(tag) "〉"; }

#hint dfn:before {
  content: ""; }

#writing-hint dfn:before {
  content: "〔" attr(reading) "〕"; }

#hint dfn:after {
  content: attr(ja);
  color: LawnGreen; }

#writing-hint dfn:after {
  content: attr(ja);
  color: LawnGreen; }

#hint dfn[ja=""]:after {
  content: attr(en); }

#definitions-writer dfn:after {
  content: "〔" attr(reading) "〕" attr(ja); }

#definitions-writer dfn[reading=""]:after {
  content: " " attr(ja); }

#eigo-writer dfn:after {
  content: ": " attr(en); }

#chigai-writer dfn:after {
  color: DarkCyan; }

#chigai-writer dfn:before {
  color: #596F2F; }

#reading-writer dfn:after, #chigai-writer dfn:after {
  content: "〔" attr(reading) "〕"; }

dl.dialogue dfn {
  color: grey; }
