body {
  background-color: black;
  color: white;
}

dfn {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: LawnGreen;
  white-space: pre-wrap; }

dfn:after {
  content: attr(name);
  color: Khaki; }

dfn:hover:after {
  color: #AA0; }

dfn.full:after {
  content: attr(title); }

dfn.character { color: #FF0; }
dfn.character:after { color: #AA0; }
dfn.location { color: #8CF; }
dfn.location:after { color: #59B; }
dfn.person { color: #0F9; }
dfn.person:after { color: #0A5; }
dfn.character:after, dfn.location:after, dfn.person:after {
  content: "〔" attr(reading) "〕" ; }
dfn.character:hover:after, dfn.location:hover:after, dfn.person:hover:after {
  content: " " attr(ja) "〈" attr(tag) "〉"; }

dfn:before {
  color: orange;
  content: attr(word); }

#chigai-writer > dfn:after {
  color: DarkCyan; }

#chigai-writer > dfn:before {
  color: #596F2F; }

#hint dfn:before {
  content: ""; }

#hint dfn:after {
  content: attr(ja);
  color: LawnGreen; }

#definitions-writer dfn:after {
  content: "〔" attr(reading) "〕" attr(ja); }
#reading-writer dfn:after {
  content: "〔" attr(reading) "〕"; }
#reading-writer dfn:after {
  content: "〔" attr(reading) "〕"; }

#eigo-writer dfn:after {
  content: ": " attr(en); }

#reading-writer dfn:after, #chigai-writer dfn:after {
  content: "〔" attr(reading) "〕"; }
