body {
  font-size: 1.6em;
  background-color: black;
  color: white;
}

span.reading-no {
  color: limegreen; }

span#onyomi {
  color: chocolate; }

span#kunyomi {
  color: dodgerblue; }

del {
  color: grey;
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

del > dfn:after {
  color: DarkCyan; }

del > dfn:before {
  color: #596F2F; }

p {
  margin: 0; }
